@import "compass/css3";
#nav-bar ul {
  list-style-type: none;
  margin: 0;
  background: none;
  padding-left: 300px;
  top: 10px;
}

#nav-bar li a {
  display: block;
  color: #01B3A0;
  padding: 16px 22px;
  text-decoration: none;
  color: #18161F;
  float: left;
  background-color:  rgba(0, 0, 0, 0);
  font-family: 'Inter', sans-serif;
}
#nav-bar li a:hover{
  color: white;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-name: innout;
  animation-timing-function: ease-in;
}
h1 {
  padding-top: 120px;
  padding-right: 220px;
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 90px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 19px;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: opacity-ting;
  animation-timing-function: ease-in;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255,247,8);
  background: linear-gradient(90deg, rgba(255,247,8,1) 0%, rgba(247,123,66,1) 12%, rgba(239,82,66,1) 29%, rgba(181,89,166,1) 47%, rgba(204,155,223,1) 62%, rgba(0,156,214,1) 77%, rgba(1,179,160,1) 89%);
  /* background: #18161F; */
}
.gallery {
  width: 900px;
  margin: 0 auto;
  padding-left: 60px;
  padding-top: 80px;
  background: none;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: opacity-ting;
  animation-timing-function: ease-in;
  /* background: #18161F; */
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0);
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.8,1.8);
  transition: .3s transform;
}

.art:before, .art:after {
  display: table;
}

.art:after {
  clear: both;
}

.content {
  padding: 10px;
  padding-bottom: 15px;
  font-family: 'Inter', sans-serif;
  font-weight:lighter;
  font-size: 20px;
  color: black;
	max-width: 50em;
  margin: 0 auto;
  text-align: center;
}
.bounce {
        animation-name: bounce;
        animation-timing-function: ease-in-out;
    }

.opacity-ting{
  animation-name: opacity-ting;
  animation-timing-function:ease-in;
}
@keyframes bounce {
        0%   { transform: scale(1,1)    translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1) translateY(-100px); }
        50%  { transform: scale(1,1)    translateY(0); }
        100% { transform: scale(1,1)    translateY(0); }
    }

@keyframes opacity-ting {
            0%   {opacity: 0;}
            25%  {opacity: 25%;}
            50%  {opacity: 50%;}
            75%  {opacity: 75%;}
            100% {opacity: 100%;}
        }

@keyframes innout {
        	0% {
        		transform: scale(0.95);
        	}

        	70% {
        		transform: scale(1);
        	}

        	100% {
        		transform: scale(0.95);
        	}
        }
